---
pagination:
  data: i18n.codes
  size: 1
  alias: lang
permalink: "/{{ lang }}/{{ projects.byKey.strangeHouse.slugs[lang] }}/"
layout: base.njk
xDefaultPath: "/en/strange-house/"
ruPath: "/ru/chuzhoy-dom/"
enPath: "/en/strange-house/"
pageI18nNamespace: "strangeHouse"
pageLdType: "videoGame"
bodyClass: "fns-house-theme"
pageStyles:
  - "/strange-house.css"
pageImage: "/assets/strange-house/og-strange-house.webp"
twitterCard: "summary_large_image"
disableSky: true
---

{% include "project-strange-house-body.njk" %}
