---
pagination:
  data: i18n.codes
  size: 1
  alias: lang
permalink: "/{{ lang }}/{{ projects.byKey.voluntaryConsent.slugs[lang] }}/"
layout: base.njk
xDefaultPath: "/en/voluntary-consent/"
ruPath: "/ru/dobrovolnoe-soglasie/"
enPath: "/en/voluntary-consent/"
pageI18nNamespace: "voluntaryConsent"
pageLdType: "videoGame"
bodyClass: "fns-vc-theme"
pageStyles:
  - "/voluntary-consent.css"
pageImage: "/assets/voluntary-consent/og-voluntary-consent.webp"
twitterCard: "summary_large_image"
disableSky: true
---

{% include "project-voluntary-consent-body.njk" %}
